<!DOCTYPE html>
<html>

<head>
    <title>MTGCards | Entrar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_register.css')}}">
</head>

<body>
    <div class="container">
        <h1>Login</h1>
        <form method="post" class="form-group">
            <label for="username">Usuário:</label>
            <input type="text" id="username" name="username">
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password">
            <button type="submit">Entrar</button>
        </form>
        <div class="link-container">
            Não possui uma conta? <a href="{{ url_for('register') }}">Registrar-se</a>
        </div>
    </div>
</body>

</html>