<!DOCTYPE html>
<html>

<head>
    <title>MTGCards | Registrar-se</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_register.css')}}">
</head>

<body>
    <div class="container">
        <h1>Registrar-se</h1>
        <form method="post" class="form-group">
            <label for="username">Usuário:</label>
            <input type="text" id="username" name="username">
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password">
            <button type="submit">Registrar-se</button>
        </form>
        <div class="link-container">
            Já possui uma conta? <a href="{{ url_for('login') }}">Entrar</a>
        </div>
    </div>
</body>

</html>